body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#semiMain{
  display: inline-flex;
  margin: 20px;
}
#semiMain img{
  width: 270px;
  height: 270px;
 
}
#left{
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;
  line-height: 1px;
}
#L1{
  display: inline-flex;
  align-items: center;
  padding: 0px;
  float: left;
}
#L1 img{ 
  height: 30px;
  width: 30px;
}
#L1 a{
  margin-left: 10px;
 }
 #L2{
 text-align: left;

 }
 #L3{
  text-align: left;
 }
 #L4{
  line-height: normal;
  width: 800px;
  text-align: left;
 }