body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#email{
  display: flex;
  justify-content: center;
  align-self: center;
  border: grey solid 2px;
  border-radius: 12px;
  width: 60%;
  margin-left: 80px;
  
  
align-items: center;
  
}

.App{
  
  justify-self: center;
  color: white;
  width: 100%;
 
  
}
#top img{
  width: 400px;
  height: 300px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}
#into{
  background-color: rgb(221, 205, 175);
}
#intro h3{
  color: coral;
}
#intro h4{
  font-style: italic;
}
#about h1{
  text-align: left;
  margin-left: 10px;
}
#about p{
  text-align: left;
  margin-left: 10px;
  color: white;
}

#foot{
  background-color: rgb(12, 10, 10);
  display: flex;
  border: solid black 2px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
 justify-content: center;
}
#foot img{
  border-radius: 12px;
  padding: 12px;
}
#TopNav{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  color: brown;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
#Advert{
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
#Advert img{
  width: 450px;
  height: 450px;
  margin-right: 20px;
}
#intro-adva{
  color: black;
  display: inline-block;
  margin-left: 20px;
}
#card{
  background: #FFFFFF;
  color: black;
  width: 150px;
  margin-left: 15px;
  font-size: 12px;
 
}
#img{
  margin-left: 20px;
  width: 100%;
  height: 150px;
  background-image: url(Components/Img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
}
#mainCard{
  display: inline-flex;
 
}
#img button{
  float: left;
  margin: 10px;
  border-radius: 12px;
}
#details{
  align-items: center;
  
}
#line1{
  display: inline-flex;
 align-items: center;
}
#line2{
  margin-top: 0%;
}
#line1 p{
  display: inline-flex;
}
#line1 img{
  width: 30px;
  height: 30px;
  
}
#bottom{
  display: block;
}
.bold{
  font-weight: 800;
  
}
@media only screen and (max-width:700px){

  #top img{
    width: 300px;
    height: 180px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
  }
  #TopNav h1{
    font-size: medium;
  }
  #TopNav img{
    width: 40px;
    height: 40px;
  }
  #Advert img{
    width: 250px;
    height: 250px;
    margin-right: 20px;
  }

}
